In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

from wordcloud import WordCloud

In [4]:
dataset = pd.read_csv("PlanillaC.csv",sep=';')

In [5]:
dataset.head()

,nombre,apellido,genero,posicion,cedula,cargo,codigoCargo,salarioMensual,sobresueldo,inicioLaboral,objetoGastos,estatus
0,AARON JOSUE,MEDINA,M,43192.0,8-0919-00412,ESTADISTICO CENSAL I,41091.0,700.0,0.0,01/08/2023,2.0,EVENTUAL
1,ABDEL,BATISTA,M,4591.0,9-0712-01688,CONDUCTOR DE VEHICULO I,6034011.0,837.0,0.0,17/10/2011,1.0,PERMANENTE
2,ABDEL JABBAR,ARCIA,M,6053.0,8-0806-01206,AUDITOR FISCAL III,55023.0,1198.0,0.0,04/05/2022,1.0,PERMANENTE
3,ABDIEL,ESPINOSA,M,4785.0,9-0731-00875,ESTADISTICO II,41022.0,1548.0,0.0,16/04/2013,1.0,PERMANENTE
4,ABDIEL,OLIVARDIA,M,38112.0,8-0718-01099,TECNICO EN REPARACION DE EQUIPO DE COMUNICACI...,6012310.0,1300.0,0.0,03/01/2023,2.0,EVENTUAL

In [7]:
print(dataset.columns)

Index(['nombre', 'apellido', 'genero', 'posicion', 'cedula', 'cargo',
       'codigoCargo', 'salarioMensual', 'sobresueldo', 'inicioLaboral',
       'objetoGastos', 'estatus'],
      dtype='object')

In [8]:
print(dataset.dtypes)

nombre             object
apellido           object
genero             object
posicion          float64
cedula             object
cargo              object
codigoCargo       float64
salarioMensual    float64
sobresueldo       float64
inicioLaboral      object
objetoGastos      float64
estatus            object
dtype: object

In [9]:
dataset.values

array([['AARON JOSUE         ', 'MEDINA         ', 'M', ...,
        '01/08/2023', 2.0, 'EVENTUAL'],
       ['ABDEL               ', 'BATISTA        ', 'M', ...,
        '17/10/2011', 1.0, 'PERMANENTE'],
       ['ABDEL JABBAR        ', 'ARCIA          ', 'M', ...,
        '04/05/2022', 1.0, 'PERMANENTE'],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [10]:
dataset.axes

[RangeIndex(start=0, stop=4838, step=1),
 Index(['nombre', 'apellido', 'genero', 'posicion', 'cedula', 'cargo',
        'codigoCargo', 'salarioMensual', 'sobresueldo', 'inicioLaboral',
        'objetoGastos', 'estatus'],
       dtype='object')]

In [14]:
print(dataset.ndim)
print(dataset.size)
print(dataset.shape)

2
58056
(4838, 12)

In [15]:
dataset.at[4,'apellido']

'OLIVARDIA      '

In [16]:
dataset.loc[4]

nombre                                         ABDIEL
apellido                                            OLIVARDIA
genero                                                            M
posicion                                                    38112.0
cedula                                                 8-0718-01099
cargo             TECNICO EN REPARACION DE EQUIPO DE  COMUNICACI...
codigoCargo                                               6012310.0
salarioMensual                                               1300.0
sobresueldo                                                     0.0
inicioLaboral                                            03/01/2023
objetoGastos                                                    2.0
estatus                                                    EVENTUAL
Name: 4, dtype: object